
<ion-tabs class="tabs-icon-top tabs-color-active-positive">

  <!-- Work Tab -->
  <ion-tab title="Work" icon-off="ion-briefcase" icon-on="ion-briefcase" href="#/todo/work">
    <ion-nav-view name="work"></ion-nav-view>
  </ion-tab>

  <!-- Home Tab -->
  <ion-tab title="Home" icon-off="ion-home" icon-on="ion-home" href="#/todo/home">
    <ion-nav-view name="home"></ion-nav-view>
  </ion-tab>

  <!-- Misc Tab -->
  <ion-tab title="Misc" icon-off="ion-clipboard" icon-on="ion-clipboard" href="#/todo/misc">
    <ion-nav-view name="misc"></ion-nav-view>
  </ion-tab>


</ion-tabs>

